In [1]:
import pandas as pd

file_path = r"C:/Users/RAKHA ALCANDER/Downloads/online_retail_II_new.csv"

df = pd.read_csv(
    file_path,
    sep=";",              
    encoding="latin1",
    engine="python",
    on_bad_lines="skip"
)

df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01/12/2010 08:26,"2,55",17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01/12/2010 08:26,"3,39",17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01/12/2010 08:26,"2,75",17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01/12/2010 08:26,"3,39",17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01/12/2010 08:26,"3,39",17850.0,United Kingdom

In [2]:
df = df.rename(columns={
    "Invoice": "InvoiceNo",
    "Price": "UnitPrice"
})

In [3]:

df.columns = df.columns.str.lower()

In [4]:
df['unitprice'] = (
    df['unitprice']
    .astype(str)
    .str.replace(',', '.', regex=False)
    .astype(float)
)

In [5]:
df['invoicedate'] = pd.to_datetime(
    df['invoicedate'],
    format="%d/%m/%Y %H:%M",
    errors="coerce"
)

In [6]:
df = df.drop_duplicates(
    subset=["invoiceno", "stockcode", "invoicedate"]
)

In [7]:
df['customerid'] = df['customerid'].astype('Int64')

In [8]:
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql://neondb_owner:npg_LiBRpTC5D0hN@ep-sparkling-glade-a1lz63fj-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
)

df.to_sql(
    "transactions",
    engine,
    if_exists="replace", 
    index=False,
    chunksize=5000
)

106233

In [9]:
len(df)

531233